@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{ /*Declaracion de variables*/
    --color-primario:#000000;
    --color-secundario:#F6F6F6;
    --color-terciario:#22D4FD;
    --color-hover: #272727;

    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", "sans-serif";
}

* {
    /*Reiniciamos el css*/
    padding: 0;
    margin: 0;
}

body{
    /*Indicamos las caracteristicas de nuestro body como el color de fondo y color de las letras.*/
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    /*Instrucciones par el diseño de los enlaces:*/
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600; /*Relleno de fondo*/
    color: var(--color-terciario);
    text-decoration: none;
}

.presentacion {
    padding: 7% 15%; /*Ajuste de espacio vertical y horizontal*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
}

.tituloPrincipal-destacar { /*Clases personalizadas*/
    color: var(--color-terciario);
}

.presentacion__contenido__parrafo{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo{
    font-size: 1.5rem;
    font-family: var(--fuente-krona);
    font-weight: 400;
}

.presentacion__enlaces__link{
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    font-family: var(--fuente-montserrat);
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario); /*Crea un contorno simulando un boton.*/
    display: flex;
    justify-content: center;
    gap: 10px; /*Indica el espacio entre los iconos*/
}

.presentacion__enlaces__link:hover{ /*El hover se utiliza para seleccionar elementos cuando pasas el ratón sobre ellos*/
    background-color: var(--color-hover);
}

.presentacion__imagen{
    width: 50%;
}

.footer{
    background-color: var(--color-terciario);
    padding: 24px;
    color: var(--color-primario);
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
    font-weight: 400;
}

@media (max-width: 1200px) {

    .header{
        padding: 10%;
    }

    .header__menu{
        justify-content: center;
    }

    .presentacion{
        flex-direction: column-reverse;
        padding: 3%;
    }

    .presentacion__contenido{
        width: auto;
    }
  }
  